.footer{
    background-color: #234E70;
    color: #ffffff;
}
.footer p{
    color: #ffffff;
}
.footer a{
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
    padding-left: 8px;
}
.footer h6{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}